
@{
    ViewBag.Title = "Book";
}

<div class="flex flex-col my-4 items-center">
    <div class="max-w-[1150px] w-[calc(100vw-2rem)]">
        <div class="flex justify-between w-full flex-col md:flex-row items-center">
            <h1 class="text-[#666] text-2xl">
                <a href="/Home/Index" class="hover:text-black duration-300"> TRANG CHỦ </a>
                / <span class="text-black font-semibold">TRANG SỨC</span>
            </h1>
            <button onclick="ToggleFilter()"
                    class="md:hidden flex justify-center items-center gap-2 hover:text-[#3ac2cc] duration-300 mt-2 mb-4">
                <i class="fa-solid fa-bars"></i>
                <div class="font-semibold">Thêm</div>
            </button>
            <div class="flex items-center gap-4">
                <div class="hidden md:block">
                    Hiển thị @((ViewBag.CurrentPage - 1) * 12 + 1)-@(ViewBag.CurrentPage * 12 > ViewBag.Total ? ViewBag.Total : ViewBag.CurrentPage * 12) trong số @ViewBag.Total kết quả
                </div>
                <!-- Dropdown -->
                <div class="relative">
                    <button id="showDropdown"
                            class="border flex justify-between items-center p-2 gap-16">
                        <div class="text-black pointer-events-none">Sắp xếp</div>
                        <svg class="dropdown-button fill-current h-4 w-4 pointer-events-none"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20">
                            <path class="dropdown-button"
                                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                    </button>
                    <div id="dropdownList"
                         class="hidden absolute z-50 border bg-white shadow-inner">
                        <ul class="h-full w-full" tabindex="0">
                            <li>
                                <a href="/Product/Book"
                                   class="hover:bg-slate-400 block hover:text-white px-2 py-1">Không</a>
                            </li>
                            <li>
                                <a href="/Product/Book?order=new"
                                   class="hover:bg-slate-400 block hover:text-white px-2 py-1">Mới nhất</a>
                            </li>
                            <li>
                                <a href="/Product/Book?order=priceAsc"
                                   class="hover:bg-slate-400 block hover:text-white px-2 py-1">Giá từ thấp đến cao</a>
                            </li>
                            <li>
                                <a href="/Product/Book?order=priceDesc"
                                   class="hover:bg-slate-400 block hover:text-white px-2 py-1">Giá từ cao xuống thấp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex gap-8 w-full p-8">
            <!-- Left -->
            <div id="more"
                 class="md:w-1/4 hidden md:block md:max-w-none max-w-[300px] md:p-0 p-6 w-screen absolute z-50 bg- top-0 left-0 md:relative">
                <div class="md:hidden absolute z-0 top-0 left-0 w-screen h-screen">
                    <div onclick="ToggleFilter()"
                         class="bg-[rgba(0,0,0,0.3)] z-0 w-screen h-full relative"></div>
                </div>
                <div class="absolute p-6 top-0 left-0 bg-[rgba(255,255,255,0.95)] md:h-auto h-screen overflow-y-auto md:overflow-hidden max-w-300px md:relative">
                    <!--  -->
                    <button onclick="ToggleFilter()"
                            class="text-[rgba(10,10,10)] md:hidden block text-2xl absolute right-[20px] top-[20px] z-[51] w-[25px] h-[25px] md:relative">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <div>
                        <h1 class="text-[1.1rem] font-bold mb-6">
                            Thể loại
                        </h1>
                        <ul class="border border-[#3ac2cc] rounded-md p-2 leading-9">
                            @if (ViewBag.Genres != null)
                            {
                                foreach (var item in ViewBag.Genres)
                                {
                                    <li class="max-w-300px">
                                        <a href="/Product/Book?genreId=@item.GenreId" class="hover:text-[#3ac2cc] p-2">@item.Name</a>
                                    </li>
                                    <hr />
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Right -->
            <div class="md:w-[calc(75%-2rem)] w-full">
                <!-- items -->
                @if (Model.Count != 0)
                {


                    <div class="gap-8 w-full grid lg:grid-cols-4 grid-cols-[repeat(auto-fit,minmax(150px,1fr))]">
                        @foreach (var item in Model)
                        {
                            <div class="hover:shadow-[0_0_5px_0_rgb(180,180,180)] flex flex-col justify-between max-w-[300px] w-full w-1/5 duration-300">
                                @if (item.ImageURL != "")
                                {
                                    <img src="/img/products/@item.ImageURL" />
                                }
                                else
                                {
                                    <img src="/img/noImageProduct.jpg" />
                                }
                                <div class="flex flex-col justify-between">
                                    <a href="/Product/Detail/@item.Id"
                                       class="font-medium text-center line-clamp-2 hover:text-[#3ac2cc] duration-300"
                                       title="@item.Name">
                                        @item.Name
                                    </a>
                                    @if (item.IsAvailable)
                                    {
                                        <div class="font-bold text-center text-[18px]">
                                            @item.Price đ
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="font-bold text-center text-[18px] text-red-500">
                                            Hết hàng
                                        </div>
                                    }
                                </div>
                            </div>
                        }


                    </div>
                <!-- pagination -->
                    <div class="flex justify-center my-4">
                        <ul class="flex gap-1">
                            @{
                        int currentPage = ViewBag.CurrentPage;
                        int maxPage = ViewBag.MaxPage;
                        int start = currentPage - 2 > 0 ? currentPage - 2 : 1;
                        int end = currentPage + 2 <= maxPage ? currentPage + 2 : maxPage;

                        if (currentPage > 1)
                        {
                            <li>
                                <a class="hover:bg-[#3ac2cc] flex justify-center items-center border-2 hover:border-[#3ac2cc] duration-300 font-semibold hover:text-white rounded-full p-1 h-8 w-8"
                                   href="/Product/Book?page=@(currentPage-1)&genreId = @ViewBag.CurrentGenre&order=@ViewBag.Order"><</a>
                            </li>
                        }
                        for (int i = start; i <= end; i++)
                        {
                            if (i == currentPage)
                            {

                                <li>
                                    <a class="bg-[#3ac2cc] flex justify-center items-center border-2 border-[#3ac2cc] font-semibold text-white rounded-full p-1 h-8 w-8"
                                       href="/Product/Book?page=@i&genreId=@ViewBag.CurrentGenre&order=@ViewBag.Order">@i</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="hover:bg-[#3ac2cc] flex justify-center items-center border-2 hover:border-[#3ac2cc] duration-300 font-semibold hover:text-white rounded-full p-1 h-8 w-8"
                                       href="/Product/Book?page=@i&genreId=@ViewBag.CurrentGenre&order=@ViewBag.Order">@i</a>
                                </li>
                            }
                        }
                        if (currentPage < maxPage)
                        {
                            <li>
                                <a class="hover:bg-[#3ac2cc] flex justify-center items-center border-2 hover:border-[#3ac2cc] duration-300 font-semibold hover:text-white rounded-full p-1 h-8 w-8"
                                   href="/Product/Book?page=@(currentPage+1)&genreId = @ViewBag.CurrentGenre&order=@ViewBag.Order">></a>
                            </li>
                        }
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div class="flex justify-center items-center h-[200px] font-bold text-2xl ">Không có sản phẩm</div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    const more = document.getElementById("more");
    function ToggleFilter() {
        more.classList.toggle("hidden")
    }

</script>